CLOUD_INSTANCE="https://login.microsoftonline.com/" # cloud instance string should end with a trailing slash
AZ_TENANT_ID=11111111-1111-1111-1111-111111111111
AZ_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZ_CLIENT_SECRET=xxxxx~xxxxxx~xxxxxxxxxxxxxxxxxxxxxxxxxxx
REDIRECT_URL=http://public-url.example.com
SESSION_SECRET=<A_Secret_Key>

#PUBLIC_DIR_PATH=public
#PORTAL_TITLE="Meraki Captive Portal for Azure Active Directory"