<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div id="content">
        <div class="view-card">
            <h2>Welcome to</h2>
            <img src="/images/logo.png" />
            <% if (isAuthenticated) { %>
            <h4><%= username %><br>You are now connected!</h4>
            <div class="view-help">Feel free to close this window.</div>
            <% if (isDevelopment) { %>
            <a href="/auth/signout">Sign out</a>
            <% } %>
            <% } else { %>
            <% if (base_grant_url) { %>
            <p>Please <a href="/auth/signin?base_grant_url=<%= base_grant_url %>"><b>Log in</b></a> to continue.</p>
            <% } else { %>
            <p><b>You cannot initiate a login.</b></p>
            <p>Please close this page and select the SSID <b><%= ssid %></b>, to restart the process.</p>
            <% } %>
            <% } %>
            <br>
            <div class="footer">
                Powered by <img src="/images/logo-spie.png" />
            </div>
        </div>
    </div>
</body>
</html>